---
import Navbar from '@/components/Navbar'
import '@/styles/globals.css'
---

<!DOCTYPE html>
<html lang="id">
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ahmad Zein Haddad</title>

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body>
    <div class="flex min-h-screen w-full flex-col">
      <Navbar client:load/>

      <slot />
    </div>
  </body>
</html>